@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --primary : #0081cf; */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #0081cf;
  --color-primary-light: #1EAAFF;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --container-main: 90rem;
}

@layer utilities {
  .default-padding {
    @apply px-7 md:px-12 py-4 md:py-6;
  }
  .section-padding {
    @apply py-[120px] px-7 md:px-12;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: clip;
}

@keyframes blob {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
}
.animate-blob {
  animation: blob 7s infinite;
}
.animation-delay-2000 {
  animation-delay: 2s;
}
.animation-delay-4000 {
  animation-delay: 4s;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
